.slideshow{
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
}
.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}
  
.slide {
    display: inline-block;
    background-color: grey;
    height: 200px;
    width: 100%;
    border-radius: 40px;
}
.slide .photo{
    width:100%;
    height:100%;
    border-radius: 40px;
}

.slide .title{
    width: 100%; 
    margin: 0; 
}

@media screen and (min-width: 500px){
    .slideshow{
        margin: 0 auto;
        overflow: hidden;
        max-width: 500px;
    }
}